@model projectportfolio.Models.Category

@{
    ViewData["Title"] = "Lägg till ny kategori";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Name" class="control-label fw-bold"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="AreaOfUse" class="control-label fw-bold"></label>
                    <input asp-for="AreaOfUse" class="form-control" />
                    <span asp-validation-for="AreaOfUse" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary fw-bold" />
                <a class="btn btn-primary fw-bold" asp-action="Index">Tillbaka till lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
