@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #404040;
    color: #83F3DF;
    font-family: 'Inconsolata', monospace;
}

header, footer {
    font-size: 1.1em;
    background-color: #404040;
    color: #83F3DF;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.navbar-brand {
    width: 10%;
}

.color-font, a {
    color: #83F3DF;
}

.btn-color {
    background-color: #83F3DF;
    color: #404040
}

table thead, table tbody {
    color: #83F3DF;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link:hover::before {
    content: "< ";
}

.nav-link:hover::after {
    content: " >";
}
.nav-item {
    width: 12%;
    text-align:center;
}