@model projectportfolio.Models.Experience

@{
    ViewData["Title"] = "Lägg till ny utbildning / nytt jobb";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="">
    <div class="">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label asp-for="What" class="control-label fw-bold"></label>
                    <input asp-for="What" class="form-control" />
                    <span asp-validation-for="What" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label asp-for="Where" class="control-label fw-bold"></label>
                    <input asp-for="Where" class="form-control" />
                    <span asp-validation-for="Where" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 col-md-4">
                    <label asp-for="Start" class="control-label fw-bold"></label>
                    <input asp-for="Start" class="form-control" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label asp-for="End" class="control-label fw-bold"></label>
                    <input asp-for="End" class="form-control" />
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
                <div class="form-group col-12 col-md-4">
                    <label asp-for="CategoryId" class="control-label fw-bold"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label fw-bold"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary fw-bold" />
                <a class="btn btn-primary fw-bold" asp-action="Index">Tillbaka till lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
