@{
    ViewData["Title"] = "Om Sofia";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row my-5">
    <section class="col-12 col-md-6 text">
        <p>
            Jag heter Sofia Widholm. Född på slutet av 80-talet och uppvuxen utanför Norrköping i Östergötland, men bor numera i Kumla med sambo och barn. 
            Jag är legitimerad lärare i idrott och hälsa samt engelska och nu blivande webbutvecklare. 
            Jag har arbetat i skolvärlden i tio år med grundskolans alla årskurser, vilket har gett mig många bra erfarenheter som även går att applicera i mitt framtida yrke som webbutvecklare.
        </p>
    </section>
    <section class="col-12 col-md-6 row align-items-center image">
        <img src="~/images/undraw_educator_re_ju47.svg" class="img-fluid" />
    </section>
</div>

<div class="row my-5">
    <section class="col-12 col-md-6 row align-items-center image">
        <img src="~/images/undraw_team_collaboration_re_ow29.svg" class="img-fluid" />
    </section>
    <section class="col-12 col-md-6 text">
        <p>
            Jag ser mig själv som en noggrann och kvalitetsmedveten person som alltid vill att det jag levererar i min yrkesperson ska ha så hög kvalité som möjligt.
            Jag är lösningsorienterad och positiv för att pröva eller lära mig nya saker.
            Som person är jag mycket för att arbeta tillsammans med andra människor mot gemensamma mål, då samarbete är viktigt både för att skapa de bästa förutsättningarna för att främja verksamhetens utveckling och för att jag själv ska kunna utvecklas i min yrkesroll.
        </p>
    </section>
</div>
