@{
    ViewData["Title"] = "Administration";
}

<h1>@ViewData["Title"]</h1>


<a class="color-font" asp-area="" asp-controller="Category" asp-action="Index">Kategorier</a>
<a class="color-font" asp-area="" asp-controller="Competence" asp-action="Index">Kompetens</a>
<a class="color-font" asp-area="" asp-controller="Experience" asp-action="Index">Utbildningar och jobb</a>
<a class="color-font" asp-area="" asp-controller="Image" asp-action="Index">Bilder</a>
<a class="color-font" asp-area="" asp-controller="Project" asp-action="Index">Projekt</a>