@{
    // Save title to ViewData
    ViewData["Title"] = "KONTAKT";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row my-5">
    <section class="col-12 col-md-6">
        <!-- Contact information -->
        <h2>TELEFON</h2>
        <p>0730-867859</p>

        <h2>E-POSTADRESS</h2>
        <p>
            <a href="mailto:sofia.k.widholm@live.com">sofia.k.widholm@live.com</a>
        </p>

         <!-- Links to LinkedIn and Github profiles -->
        <p>
            <a href="https://www.linkedin.com/in/sofiawidholm/" target"_blank" class="me-4" title="Link to LinkedIn profile">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://github.com/sowi101" target"_blank" title="Link to GitHub profile">
                <i class="bi bi-github"></i>
            </a>
        </p>
    </section>
    <section class="col-12 col-md-6 row align-items-center">
        <!-- Illustration -->
       <img src="~/images/undraw_contact_us_re_4qqt.svg" class="img-fluid" alt="Illustrationav av person som håller i ett brev" />
    </section>
</div>