@{
    // Save title to ViewData
    ViewData["Title"] = "Välkommen";
}

<div class="row my-5">
    <section class="col-12 col-md-6">
        <!-- Initial information about me and web development -->
        <h1 class="homepage-heading">Sofia Widholm</h1>
        <h2>Fullstackutvecklare</h2>
        <p>
            Idag finns det ett väldigt stort spektrum när det gäller både design och funktionalitet och det finns också många typer av användare. 
            För mig är det viktigt att både innehåll och formatering ligger på en lagom nivå och att webbplatsen är tillgänglig för alla. 
            Enkel och modern webbutveckling med andra ord! 
        </p>
        <p class="row gap-2 mx-auto">
            <!-- Links to projects and CV -->
            <a class="btn btn-color col-12 col-md-5 fw-bold" asp-controller="Home" asp-action="Projects">PROJEKT</a>
            <a class="btn btn-color col-12 col-md-5 fw-bold" asp-controller="Home" asp-action="CV">CV</a>
        </p>
    </section>
    <section class="col-12 col-md-6">
        <!-- Illustration -->
        <img src="~/images/undraw_portfolio_website_re_jsdd.svg" class="img-fluid" alt="Illustration av en webbläsare och en kvinna framför den" />
    </section>
</div>
    
